mj-wrapper
    mj-section
        mj-column
            mj-text évènements et conférences
    mj-section
        mj-column
            mj-text Conférence-Rencontre :
            mj-text avec les étudiants des campus de Lille et Paris
        mj-column
            mj-image
        mj-column
            mj-text Rencontrez les étudiants des campus de Lille et Paris, en 1ère et 2e année du cycle Bachelor du Programme Grande École, du Bachelor in International Business (BIB) et du Double Diplôme Droit et Management international pour leur proposer des stages d'ouverture professionnelle et sociale, et des stages commerciaux.
        mj-column
            mj-text 
                img() 27 février 2020, de 14h à 17h
            mj-text
                img() Patis la défense 
        mj-column
            mj-buttom je m'inscris
    mj-section