mj-wrapper
    mj-section
        mj-column
            mj-text évènements et conférences
    mj-section
        mj-column
            mj-text Conférence-Rencontre :
            mj-text avec les étudiants des campus de Lille et Paris
        mj-column
            mj-image
        mj-column
            mj-text Rencontrez les étudiants des campus de Lille et Paris, en 1ère et 2e année du cycle Bachelor du Programme Grande École, du Bachelor in International Business (BIB) et du Double Diplôme Droit et Management international pour leur proposer des stages d'ouverture professionnelle et sociale, et des stages commerciaux.
        mj-column
            mj-text
                img(src="#") 27 février 2020, de 14h à 17h
            mj-text
                img(src="#") Pais la défense
        mj-column
            mj-button je m'inscris
    mj-section
        mj-column
            mj-text Conférence-Débat : Vers une économie circulaire :
            mj-text enjeux, opportunités et transition
        mj-column
            mj-image
        mj-column
            mj-text Conférence organisée à l'occasion de la cinquième édition de la remise du Prix ICOR du meilleur étudiant sur l'Ethique, la Responsabilité Sociale et la Durabilité en Entreprise.
            mj-text En présence de :
            mj-text Justine Laurent, Managing Director de Circulab
            mj-text Christian Traisnel, Directeur Général de Team2
            mj-text Marc Violo, Directeur de Lop Europe
            mj-text
                img(src="#") 3 mars 2020, de 18h30 à 21h
            mj-text
                img(src="#") iéseg Lille
        mj-column
            mj-button je m'inscris