mj-section
    mj-column
        mj-image
    mj-column
        mj-image
    mj-column
        mj-image
    mj-column
        mj-image
mj-section
    mj-group
        mj-column
            mj-image
            mj-text 1 parvis de la Défense
            mj-text 92044 Paris - La Défense Cedex
        mj-column
            mj-image
    mj-group
        mj-column
            mj-image
        mj-column
            mj-image
            mj-text 3 rue de la Digue
            mj-text 59000 Lille
mj-section
    mj-column
        mj-social
            mj-social-element name="facebook" href="https://www.facebook.com/IesegSchoolOfManagement/"
            mj-social-element name="twitter" href="https://twitter.com/ieseg"
            mj-social-element name="linkedin" href="https://www.linkedin.com/school/ieseg-school-of-management/"
            mj-social-element name="youtube" href="https://www.youtube.com/user/IesegSchoolOfManagement"
            mj-social-element name="instagram" href="https://www.instagram.com/iesegschoolofmanagement/"
        mj-text Pour plus d'information, contactez : corporate@ieseg.fr
        mj-text wwww.ieseg.fr
        mj-text NB : certains liens dans cet email peuvent rencontrer des difficultés à s'ouvrir sur internet Explorer. Nous vous invitons à utiliser un autre navigateur internet : Firefox, Chrome, Safari.
        mj-text Cliquez sur ce lien pour vous désabonner