mj-wrapper
    mj-section
        mj-column
            mj-text Réunion d'information
            mj-text Vous souhaitez transformer votre horizon professionnel ? Vous n'osez pas vous lancer ? Participez à nos réunions d'information afin de découvrir nos programmes en formation continue et rencontrez l'équipe Executive Education présente pour répondre à toutes vos questions.
    mj-section
        mj-column
            mj-text
                img(src="#") 14 février 2020, à 8h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris
        mj-column
            mj-text
                img(src="#") 20 mars 2020, à 8h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris
        mj-column
            mj-text Executive Mastère Spécialisé
            mj-text Direction Commerciale et Business Development
        mj-column
            mj-text
                img(src="#") 25 février 2020, à 18h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris
        mj-column
            mj-text
                img(src="#") 19 mars 2020, à 8h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris
        mj-column
            mj-text Executive Mastère Spécialisé
            mj-text Direction Marketing et Digital
        mj-column
            mj-text
                img(src="#") 25 février 2020, à 8h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris
        mj-column
            mj-text
                img(src="#") 19 mars 2020, à 8h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris
        mj-column
            mj-text Executive Mastère Spécialisé
            mj-text Direction Financière
        mj-column
            mj-text
                img(src="#") 27 février 2020, à 8h30
            mj-text
                img(src="#") iéseg Paris la Défense
        mj-column
            mj-button Je m'inscris